@media (max-width: 991px) {
  .home {
    padding-top: 140px;
  }
  .video-element .text {
    padding-top: 16px;
  }
}

.card-wrapper {
  width: 100%;
}

.card-wrapper-card {
  background-color: var(--card-wrapper-card-bg);
  padding: 56px;
  border-radius: 24px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 991px) {
  .card-wrapper-card {
    text-align: center;
  }
}

.card-wrapper-card h3 {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 865;
  font-size: 56px;
  text-transform: uppercase;
  color: var(--orange);
  margin-bottom: 48px;
}

.card-wrapper-card h3 span {
  color: var(--white);
}

@media (max-width: 1200px) {
  .card-wrapper-card h3 {
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  .card-wrapper-card h3 {
    font-size: 32px;
  }
}

@media (max-width: 1400px) {
  .card-wrapper-card {
    padding: 36px;
  }
}

.card-wrapper-card-item .icon {
  width: 56px;
  height: 56px;
  margin-bottom: 28px;
}

@media (max-width: 991px) {
  .card-wrapper-card-item .icon {
    margin-right: auto;
    margin-left: auto;
  }
}

.card-wrapper-card-item .icon svg path {
  fill: #289915;
}

.card-wrapper-card-item p.green-text {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #289915;
}

.card-wrapper-card-item .title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  padding-bottom: 16px;
}

.card-wrapper-card-item .description {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #6e6e6e;
  max-width: 648px;
}

.news-carousel-card-team {
  padding: 12px;
}

.news-carousel-card-team .news-carousel-item {
  width: 100%;
  padding: 20px;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.news-carousel-card-team .news-carousel-item img {
  width: 100%;
  border-radius: 12px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.news-carousel-card-team .news-carousel-item h5 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  padding-top: 16px;
  padding-bottom: 8px;
  color: #ffffff;
}

.news-carousel-card-team .news-carousel-item p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #9e9e9e;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-decoration: none;
}

.news-carousel-card-team .news-carousel-item:hover h5 {
  color: #ffffff;
}

.news-carousel-card-team .news-carousel-item:hover p {
  color: #9e9e9e;
}

.client-carousel-card {
  width: 100%;
  padding: 12px;
}

.client-carousel-card .client-card {
  background-color: var(--card-wrapper-card-bg);
  padding: 32px;
  border-radius: 16px;
}

.client-carousel-card .client-card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.client-carousel-card .client-card-top img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.client-carousel-card .client-card-top .text {
  width: calc(100% - 84px);
}

.client-carousel-card .client-card-top .text p {
  margin: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */
  -webkit-font-feature-settings: 'tnum' on, 'lnum' on;
          font-feature-settings: 'tnum' on, 'lnum' on;
  /* Web sayt/Black scheme/$-gray-300 */
  color: #6e6e6e;
}

.client-carousel-card .client-card-top .text h5 {
  margin: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  -webkit-font-feature-settings: 'tnum' on, 'lnum' on;
          font-feature-settings: 'tnum' on, 'lnum' on;
  /* Web sayt/white */
  color: #ffffff;
  margin-bottom: 6px;
}

.client-carousel-card .client-card-desc {
  margin-top: 32px;
}

.client-carousel-card .client-card-desc p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-decoration: none;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .client-carousel-card .client-card-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .client-carousel-card .client-card-top img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 0 auto 16px;
  }
  .client-carousel-card .client-card-top .text {
    width: 100%;
  }
}

.live .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.live .title .icon {
  margin: 0;
  margin-left: 16px;
  background-color: var(--card-wrapper-card-bg);
  padding: 6px 12px;
  border-radius: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-transform: uppercase;
}

.live .title .icon .circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #289915;
  margin-left: 6px;
}

.live-carousel-card {
  padding: 12px;
}

.live-carousel-card .off {
  display: none;
}

.live-carousel-card .live-card {
  width: 100%;
  height: 394px;
  mix-blend-mode: normal;
  border-radius: 16px;
  position: relative;
}

.live-carousel-card .live-card video {
  overflow: hidden;
  width: 100%;
  height: 394px;
  border-radius: 16px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.live-carousel-card .live-card-top {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 12px;
  width: 100%;
  z-index: 1;
}

.live-carousel-card .live-card-top .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 50%;
}

.live-carousel-card .live-card-top .profile img {
  width: 36px;
  height: 36px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
  margin-right: 8px;
}

.live-carousel-card .live-card-top .profile .title {
  display: inline-block;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.live-carousel-card .live-card-top .action {
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.live-carousel-card .live-card-top .action-drp ul {
  display: none;
}

.live-carousel-card .live-card-top .action-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  outline: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: 14px;
  padding: 4px;
  border-radius: 50%;
}
/*# sourceMappingURL=about-us.css.map */