.course-hero-card {
  margin: 40px 0;
  background: #1e1e1e;
  border-radius: 24px;
  background-image: url("../../assets/pages/home/3dbg.png");
  padding: 48px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .course-hero-card {
    padding: 20px;
  }
}

.course-hero-card-top {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 32px;
  color: #6e6e6e;
  max-width: 290px;
}

@media (max-width: 768px) {
  .course-hero-card-top {
    padding-bottom: 24px;
  }
}

.course-hero h1 {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 865;
  font-size: 48px;
  line-height: 56px;
  /* or 117% */
  text-transform: uppercase;
  /* Web sayt/white */
  color: #ffffff;
  font-variation-settings: 'slnt' -4;
  padding-bottom: 32px;
}

@media (max-width: 768px) {
  .course-hero h1 {
    font-size: 36px;
  }
}

.course-hero-card-description {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  /* Web sayt/Black scheme/$-gray-100 */
  color: #cfcfcf;
  padding-bottom: 32px;
}

@media (max-width: 768px) {
  .course-hero-card-description {
    padding-bottom: 8px;
  }
}

.course-hero .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.course-hero .buttons-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 24px;
  background-color: #fbaa00;
  border: 1px solid #fbaa00;
  border-radius: 61px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #ffffff;
  margin-right: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 8px;
}

.course-hero .buttons-btn:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.course-hero .buttons-btn.outlined {
  background-color: transparent;
  border-color: #fff;
}

@media (max-width: 991px) {
  .course-hero .buttons-btn {
    width: 100%;
    margin-top: 16px;
  }
}

.course-hero .course-image {
  min-height: 320px;
  background-image: url("../../assets/house.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}

.course-hero .item .title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  -webkit-font-feature-settings: 'tnum' on, 'lnum' on;
          font-feature-settings: 'tnum' on, 'lnum' on;
  /* Web sayt/Black scheme/$-gray-300 */
  color: #6e6e6e;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}

.course-hero .item .desc {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  padding: 0;
  margin: 0;
  color: #ffffff;
}

.course-hero-description {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #cfcfcf;
  padding-top: 100px;
}

.course-hero-description span {
  color: #fbaa00;
}

.course-hero .adver-line {
  width: 100%;
  background-color: #7678ed;
  margin: 40px 0;
}

@media (max-width: 768px) {
  .course-hero .adver-line {
    text-align: center;
  }
}

.course-hero .adver-line .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0;
}

@media (max-width: 768px) {
  .course-hero .adver-line .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.course-hero .adver-line .wrapper .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .course-hero .adver-line .wrapper .texts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 8px;
  }
}

.course-hero .adver-line .wrapper .texts svg {
  margin-left: 16px;
}

@media (max-width: 768px) {
  .course-hero .adver-line .wrapper .texts svg {
    margin-left: 0;
    margin-top: 8;
  }
}

.course-hero .adver-line p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #ffffff;
  margin: 0;
}

@media (max-width: 768px) {
  .course-hero .adver-line p {
    text-align: center;
  }
}

.course-hero .adver-line .mark {
  color: #fbaa00;
}

.course-hero .adver-line .date {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  /* identical to box height, or 108% */
  text-align: center;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  /* Web sayt/white */
  color: #ffffff;
}

@media (max-width: 768px) {
  .course-hero .adver-line .date {
    padding-bottom: 8px;
    width: 100%;
  }
}

.course .coasts-card {
  padding: 40px;
  border: 1px solid #3d3d3d;
  border-radius: 16px;
  margin: 100px 0 140px;
}

@media (max-width: 768px) {
  .course .coasts-card {
    padding: 24px;
  }
}

.course .coasts-card .title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 66px;
  /* identical to box height */
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  /* Web sayt/white */
  color: #ffffff;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .course .coasts-card .title {
    font-size: 48px;
  }
}

.course .coasts-card .title span {
  color: #fbaa00;
}

.course .coasts-card .description {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  max-width: 519px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #9e9e9e;
  margin-bottom: 0;
  margin-top: 24px;
  padding-bottom: 40px;
}

.course .coasts-card .line {
  width: 100%;
  border-bottom: 1px solid #3d3d3d;
}

.course .coasts-card-item-summ {
  background-image: url("../../assets/narx.png");
  width: 100%;
  min-height: 146px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course .coasts-card-item-summ p {
  background: #0d0d0d;
  border: 1px solid #3d3d3d;
  -webkit-backdrop-filter: blur(36.5px);
          backdrop-filter: blur(36.5px);
  padding: 20px;
  width: 100%;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #cfcfcf;
  border-radius: 145px;
  text-align: center;
}

@media (max-width: 768px) {
  .course .coasts-card-item-summ p {
    font-size: 24px;
  }
}

.course .coasts-card-item-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #ffffff;
  margin-bottom: 7px;
}

.course .coasts-card-item-desc {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #6e6e6e;
}

.course-video {
  padding-bottom: 140px;
}

.course-video video {
  width: 100%;
  height: 382px;
  border-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.course .title-site {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 66px;
  /* identical to box height */
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  /* Web sayt/white */
  color: #ffffff;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .course .title-site {
    font-size: 48px;
  }
}

.course .title-site span {
  color: #fbaa00;
}

.course-works .desc {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #9e9e9e;
  max-width: 600px;
  padding-top: 32px;
}

.course-works-carousel {
  padding: 56px 0 32px;
}

.course-works-carousel-card {
  width: 100%;
}

.course-works-carousel-card img {
  width: 100%;
  height: 450px;
  border-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}

.course-works .buttons-carousel {
  margin-bottom: 96px;
}

.course-works-speaker .desc {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #9e9e9e;
  max-width: 600px;
  padding-top: 32px;
}

.course-works-speaker-carousel {
  padding: 56px 0 32px;
}

.course-works-speaker-carousel-card {
  width: 100%;
}

.course-works-speaker-carousel-card img {
  width: 100%;
  height: 450px;
  border-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}

.course-works-speaker .buttons-carousel {
  margin-bottom: 96px;
}

.course .course-learn {
  padding-bottom: 140px;
}

.course .course-learn .title-site {
  padding-bottom: 60px;
}

.course .course-learn .item-icon {
  margin-bottom: 22px;
}

.course .course-learn .item-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 0;
  /* Web sayt/white */
  color: #ffffff;
}

.course .course-learn .item-desc {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6e6e6e;
  padding-top: 16px;
}

.course .course-speaker {
  margin-bottom: 100px;
}

.course .course-speaker .title-site {
  margin-bottom: 50px;
}

.course .course-speaker-item img {
  width: 100%;
  border-radius: 12px;
}

.course .course-speaker-item-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  /* Web sayt/white */
  color: #ffffff;
  margin: 16px 0;
}

.course .course-speaker-item-desc {
  margin: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* or 138% */
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  /* Web sayt/Black scheme/$-gray-200 */
  color: #9e9e9e;
}

.course .rewiev-carousel {
  margin-bottom: 0;
}

.course .rewiev-carousel .rewiev-card {
  margin: 12px;
}

.course .rewiev {
  margin-bottom: 90px;
}

.course .otherinfos {
  margin-bottom: 90px;
}

.course .otherinfos .info-item .badge {
  display: inline-block;
  padding: 8px 37px;
  background: #289915;
  border-radius: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #ffffff;
}

.course .otherinfos .info-item p {
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #9e9e9e;
  margin-bottom: 0;
  margin-top: 16px;
}

.course .otherinfos .info-item .title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin: 0;
}

.course .collapses .accordion {
  --bs-accordion-color: var(--white);
  --bs-accordion-bg: transparent;
  --bs-accordion-border-color: #3d3d3d;
}

.course .collapses .accordion .accordion-item .accordion-button {
  color: var(--orange);
}

.course .collapses .accordion .accordion-item .accordion-button .module {
  background: #3d3d3d;
  border: 1px solid #3d3d3d;
}

.course .collapses .accordion .module-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  margin: 0;
  color: #cfcfcf;
  margin-bottom: 16px;
}

.course .collapses .accordion .module-list {
  color: #cfcfcf;
  padding-left: 16px;
}

.course .collapses .accordion .module-list li {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  /* Web sayt/Black scheme/$-gray-100 */
  color: #cfcfcf;
}

.course .collapses .accordion .accordion-item .accordion-button.collapsed {
  color: #fff;
}

.course .collapses .accordion .accordion-item .accordion-button.collapsed .module {
  background: transparent;
  border: 1px solid #3d3d3d;
}

.course .collapses .accordion .accordion-item .accordion-button .module {
  margin-left: auto;
  display: inline-block;
  padding: 5px 18px 6px;
  border-radius: 50px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  /* Web sayt/white */
  color: #ffffff;
}

@media (max-width: 768px) {
  .course .collapses .accordion .accordion-item .accordion-button .module {
    display: none;
  }
}

.course .collapses .accordion .accordion-button::after {
  margin-left: 8px;
  content: '';
}

@media (max-width: 768px) {
  .course .collapses .accordion .accordion-button::after {
    margin-left: auto;
  }
}

.course .collapses .accordion-flush .accordion-item:last-child {
  border-bottom: 1px solid #3d3d3d;
}

.course .collapses h3 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  /* Web sayt/white */
  color: #ffffff;
  margin-bottom: 0;
  border-bottom: 1px solid #3d3d3d;
  padding-bottom: 20px;
}

.course .form-wrapper {
  padding: 56px 0;
  background: #1e1e1e;
  margin-bottom: 100px;
}

.course .form-wrapper .contact-form {
  margin: 0;
}

.course .form-wrapper .telegram-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 54px;
  gap: 16px;
  width: 512px;
  height: 48px;
  border: 1px solid #64b5ef;
  border-radius: 12px;
  color: #64b5ef;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  width: 100%;
}

.course .form-wrapper .telegram-link svg {
  margin-right: 16px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.course .form-wrapper .telegram-link path {
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.course .form-wrapper .telegram-link:hover {
  background-color: #64b5ef;
  color: #fff;
}

.course .form-wrapper .telegram-link:hover path {
  fill: #fff;
}

@media (max-width: 768px) {
  .course .form-wrapper .telegram-link {
    padding: 12px;
  }
}

.course .form-wrapper .form-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  /* Web sayt/white */
  color: #ffffff;
}

@media (max-width: 768px) {
  .course .form-wrapper .form-title {
    font-size: 24px;
  }
}

.course .form-wrapper .lets-box {
  background-color: #121212;
}

.course .form-wrapper .button-contact {
  border-radius: 12px;
}

.course .form-wrapper .oferta {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  margin: 0;
  padding: 0;
  width: 100%;
  /* Web sayt/Black scheme/$-gray-200 */
  color: #9e9e9e;
}

.course .form-wrapper .oferta a {
  color: #9e9e9e;
}

.course .info-end-course .border-content {
  background: #0d0d0d;
  margin: 56px 0 18px;
}

.course .info-end-course .border-content-top {
  border: 1px solid #3d3d3d;
  border-radius: 16px 16px 0px 0px;
  padding: 40px;
}

.course .info-end-course .border-content-top .title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  /* Web sayt/white */
  margin: 0;
  color: #ffffff;
}

.course .info-end-course .border-content-top .desc {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #ffffff;
  margin: 0;
}

@media (max-width: 768px) {
  .course .info-end-course .border-content-top {
    padding: 24px;
  }
}

.course .info-end-course .border-content-bottom {
  padding: 40px;
  border: 1px solid #3d3d3d;
  border-radius: 0 0 16px 16px;
}

.course .info-end-course .border-content-bottom p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  /* Web sayt/white */
  color: #ffffff;
  margin: 0;
}

.course .info-end-course .border-content-bottom ul {
  padding-left: 16px;
}

.course .info-end-course .border-content-bottom ul li {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* or 138% */
  letter-spacing: 0.02em;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  padding: 8px 0;
  color: #cfcfcf;
}

@media (max-width: 768px) {
  .course .info-end-course .border-content-bottom {
    padding: 24px;
  }
}

.course .info-end-course .sertific {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.course .info-end-course .certificate {
  background: #1e1e1e;
  border-radius: 24px;
  background-image: url("../../assets//pages/home/3dbg.png");
  padding: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 124px;
}

@media (max-width: 768px) {
  .course .info-end-course .certificate {
    padding: 24px;
  }
}

.course .info-end-course .certificate span {
  display: inline-block;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  /* Web sayt/white */
  color: #ffffff;
  padding-top: 32px;
}

.course .info-end-course .certificate p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  /* Web sayt/white */
  color: #ffffff;
}

.course .info-end-course .certificate p span {
  color: #fbaa00;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

.course .write-in-course {
  margin-bottom: 100px;
}

.course .write-in-course .left-item {
  background-color: #1e1e1e;
  position: relative;
  overflow: hidden;
}

.course .write-in-course .left-item-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  /* Web sayt/white */
  color: #ffffff;
  margin: 0;
  margin-bottom: 32px;
}

.course .write-in-course .left-item ul {
  padding-left: 16px;
  margin: 0;
  padding-bottom: 16px;
  border-bottom: 1px solid #3d3d3d;
}

.course .write-in-course .left-item ul li {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  /* Web sayt/Black scheme/$-gray-100 */
  margin-bottom: 20px;
  color: #cfcfcf;
}

.course .write-in-course .left-item .button-wrapper {
  padding: 4px;
  border: 1px solid #3d3d3d;
  border-radius: 10px;
  margin: 36px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.course .write-in-course .left-item .button-wrapper .left-btn {
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 21px;
  width: calc(50% - 2px);
  background: #222222;
  border-radius: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  cursor: pointer;
}

.course .write-in-course .left-item .button-wrapper .left-btn.active {
  background: #289915;
}

@media (max-width: 768px) {
  .course .write-in-course .left-item .button-wrapper .left-btn {
    width: 100%;
    margin: 2px 0;
  }
}

.course .write-in-course .left-item .summa p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */
  margin-bottom: 120px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  /* Web sayt/white */
  color: #ffffff;
}

.course .write-in-course .left-item .summa p span {
  margin-left: 12px;
  display: inline-block;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  /* Web sayt/Black scheme/$-gray-200 */
  color: #9e9e9e;
}

.course .write-in-course .left-item .myadver {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #7678ed;
  width: 100%;
  padding: 20px;
}

.course .write-in-course .left-item .myadver p {
  margin-bottom: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  /* identical to box height, or 108% */
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  /* Web sayt/white */
  color: #ffffff;
}

.course .write-in-course .left-item .myadver p svg {
  margin-right: 16px;
}

.course .write-in-course .right-item {
  margin-bottom: 100px;
}

.course .write-in-course .right-item .title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  /* Web sayt/white */
  color: #ffffff;
  margin-bottom: 32px;
}

.course .write-in-course .right-item .desc {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */
  margin-bottom: 32px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  /* Web sayt/Black scheme/$-gray-100 */
  color: #cfcfcf;
}

.course .write-in-course .right-item .lets-button {
  border-radius: 12px;
}

.course .write-in-course .right-item .desc-other {
  margin-bottom: 0;
  max-width: 372px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  /* Web sayt/Black scheme/$-gray-200 */
  color: #9e9e9e;
}

.course .input {
  padding: 11px 16px;
  background-color: #fff;
  background: #141414;
  border-radius: 8px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 100%;
  color: #fff;
  outline: none;
  border: none;
  border: 1px solid #3d3d3d;
}

.course .input::-webkit-input-placeholder {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  /* Web sayt/Black scheme/$-gray-400 */
  color: #3d3d3d;
}

.course .input:-ms-input-placeholder {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  /* Web sayt/Black scheme/$-gray-400 */
  color: #3d3d3d;
}

.course .input::-ms-input-placeholder {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  /* Web sayt/Black scheme/$-gray-400 */
  color: #3d3d3d;
}

.course .input::placeholder {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  /* Web sayt/Black scheme/$-gray-400 */
  color: #3d3d3d;
}
/*# sourceMappingURL=course.css.map */