.rewiev {
  padding-top: 80px;
}

.rewiev-title {
  margin-bottom: 40px;
}

.rewiev h1 {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 865;
  font-size: 56px;
  line-height: 56px;
  text-transform: uppercase;
  color: #ffffff;
  font-variation-settings: 'slnt' -4;
}

@media (max-width: 768px) {
  .rewiev h1 {
    font-size: 48px;
    margin-bottom: 16px;
  }
}

.rewiev-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 41px;
  border: 1.21605px solid var(--orange);
  color: var(--orange);
  outline: none;
  border-radius: 26.7531px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
}

.rewiev-btn:hover {
  background-color: var(--orange);
  color: #ffffff;
}

@media (max-width: 1400px) {
  .rewiev-btn {
    padding: 8px 24px;
  }
}

.rewiev .rewiev-cards-wrapper {
  margin-bottom: 90px;
}

.rewiev .rewiev-cards-wrapper .rewiev-card {
  padding: 32px 32px 16px;
  background: #1e1e1e;
  border-radius: 16px;
}

.rewiev .rewiev-cards-wrapper .rewiev-card .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 32px;
}

.rewiev .rewiev-cards-wrapper .rewiev-card .top img {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin-right: 20px;
}

@media (max-width: 991px) {
  .rewiev .rewiev-cards-wrapper .rewiev-card .top img {
    width: 120px;
    height: 120px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
  }
}

@media (max-width: 991px) {
  .rewiev .rewiev-cards-wrapper .rewiev-card .top .text {
    margin-top: 16px;
    width: 100%;
    text-align: center;
  }
}

.rewiev .rewiev-cards-wrapper .rewiev-card .top .text h2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  -webkit-font-feature-settings: 'tnum' on, 'lnum' on;
          font-feature-settings: 'tnum' on, 'lnum' on;
  /* Web sayt/white */
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.rewiev .rewiev-cards-wrapper .rewiev-card .top .text p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */
  -webkit-font-feature-settings: 'tnum' on, 'lnum' on;
          font-feature-settings: 'tnum' on, 'lnum' on;
  /* Web sayt/Black scheme/$-gray-300 */
  color: #6e6e6e;
  margin: 0;
  padding: 0;
}

.rewiev .rewiev-cards-wrapper .rewiev-card .desc {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #6e6e6e;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin-bottom: 12px;
}

.rewiev .rewiev-cards-wrapper .rewiev-card .time {
  text-align: right;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  /* Web sayt/Black scheme/$-gray-300 */
  color: #6e6e6e;
  margin: 0;
}
/*# sourceMappingURL=rewiev.css.map */