@import 'vars';
@import './components/materialIcons';
@import 'bases';
@import 'gridsystem';
@import 'mixins';

// components

@import './components/buttons';
@import './components/searchInput';
@import './components/header';
@import './components/footer';
@import './components/carousel';

// pages
@import './pages/home';

.container {
  @include responsive(phone) {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}

.lets-box {
  padding: 40px;
  width: 100%;
  background: #1e1e1e;
  border-radius: 24px;

  @include responsive(phone) {
    padding: 24px;
  }
}
.border-lets {
  padding: 14px 29px 14px 16px;
  border: 1px solid #3d3d3d;
  border-radius: 16px;
}
