.search-input {
  position: relative;
  width: 100%;
  .lets-icons {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 24px;
    height: 24px;
    font-size: 24px;
    color: var(--grey-400);
  }
  input {
    width: 100%;
    padding: 11px 12px 11px 48px;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: $border-radius-min;
    border: 1px solid var(--grey-400);
    color: var(--white);
    &::placeholder {
      color: var(--grey-400);
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
    }
  }
}
