@import '../mixins';
.course {
  &-hero {
    &-card {
      margin: 40px 0;
      background: #1e1e1e;
      border-radius: 24px;
      background-image: url('../../assets/pages/home/3dbg.png');
      padding: 48px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      @include responsive(phone) {
        padding: 20px;
      }
    }

    &-card-top {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      padding-bottom: 32px;
      color: #6e6e6e;
      max-width: 290px;
      @include responsive(phone) {
        padding-bottom: 24px;
      }
    }
    h1 {
      font-family: 'Inter';
      font-style: italic;
      font-weight: 865;
      font-size: 48px;
      line-height: 56px;
      /* or 117% */

      text-transform: uppercase;

      /* Web sayt/white */

      color: #ffffff;
      font-variation-settings: 'slnt' -4;
      padding-bottom: 32px;

      @include responsive(phone) {
        font-size: 36px;
      }
    }
    &-card-description {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      /* or 156% */
      font-feature-settings: 'pnum' on, 'lnum' on;
      /* Web sayt/Black scheme/$-gray-100 */
      color: #cfcfcf;
      padding-bottom: 32px;
      @include responsive(phone) {
        padding-bottom: 8px;
      }
    }
    .buttons {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    .buttons-btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 12px 24px;
      background-color: #fbaa00;
      border: 1px solid #fbaa00;
      border-radius: 61px;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #ffffff;
      margin-right: 16px;
      transition: all 0.3s ease;
      margin-top: 8px;
      &:hover {
        transform: scale(1.03);
      }

      &.outlined {
        background-color: transparent;
        border-color: #fff;
      }

      @include responsive(tablet) {
        width: 100%;
        margin-top: 16px;
      }
    }

    .course-image {
      //   width: 100%;
      //   height: 100%;
      min-height: 320px;
      background-image: url('../../assets/house.png');
      background-repeat: no-repeat;
      background-position: bottom right;
      background-size: contain;
    }

    .item {
      .title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height, or 125% */
        font-feature-settings: 'tnum' on, 'lnum' on;
        /* Web sayt/Black scheme/$-gray-300 */
        color: #6e6e6e;
        padding: 0;
        margin: 0;
        margin-bottom: 8px;
      }
      .desc {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        padding: 0;
        margin: 0;
        color: #ffffff;
      }
    }

    &-description {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 34px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #cfcfcf;
      padding-top: 100px;
      span {
        color: #fbaa00;
      }
    }

    .adver-line {
      width: 100%;
      background-color: #7678ed;
      margin: 40px 0;
      @include responsive(phone) {
        text-align: center;
      }
      .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 15px 0;
        @include responsive(phone) {
          justify-content: center;
        }
        .texts {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          @include responsive(phone) {
            justify-content: center;
            padding-bottom: 8px;
          }
          svg {
            margin-left: 16px;
            @include responsive(phone) {
              margin-left: 0;
              margin-top: 8;
            }
          }
        }
      }
      p {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 26px;
        text-align: center;
        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #ffffff;
        margin: 0;
        @include responsive(phone) {
          text-align: center;
        }
      }
      .mark {
        color: #fbaa00;
      }
      .date {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 26px;
        /* identical to box height, or 108% */

        text-align: center;
        font-feature-settings: 'pnum' on, 'lnum' on;

        /* Web sayt/white */

        color: #ffffff;
        @include responsive(phone) {
          padding-bottom: 8px;
          width: 100%;
        }
      }
    }
  }

  .coasts {
    &-card {
      padding: 40px;
      border: 1px solid #3d3d3d;
      border-radius: 16px;
      margin: 100px 0 140px;
      @include responsive(phone) {
        padding: 24px;
      }

      .title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 66px;
        /* identical to box height */

        font-feature-settings: 'pnum' on, 'lnum' on;

        /* Web sayt/white */

        color: #ffffff;
        margin-bottom: 0;
        @include responsive(phone) {
          font-size: 48px;
        }
        span {
          color: #fbaa00;
        }
      }

      .description {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        max-width: 519px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #9e9e9e;
        margin-bottom: 0;
        margin-top: 24px;
        padding-bottom: 40px;
      }
      .line {
        width: 100%;
        border-bottom: 1px solid #3d3d3d;
      }
      &-item {
        &-summ {
          background-image: url('../../assets/narx.png');
          width: 100%;
          min-height: 146px;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            background: rgba(13, 13, 13, 1);
            border: 1px solid #3d3d3d;
            backdrop-filter: blur(36.5px);
            padding: 20px;
            width: 100%;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #cfcfcf;
            border-radius: 145px;
            text-align: center;

            @include responsive(phone) {
              font-size: 24px;
            }
          }
        }

        &-title {
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 28px;
          font-feature-settings: 'pnum' on, 'lnum' on;
          color: #ffffff;
          margin-bottom: 7px;
        }

        &-desc {
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          font-feature-settings: 'pnum' on, 'lnum' on;
          color: #6e6e6e;
        }
      }
    }
  }

  &-video {
    padding-bottom: 140px;
    video {
      width: 100%;
      height: 382px;
      border-radius: 16px;
      object-fit: cover;
      object-position: center;
    }
  }

  .title-site {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    /* identical to box height */

    font-feature-settings: 'pnum' on, 'lnum' on;

    /* Web sayt/white */

    color: #ffffff;
    margin-bottom: 0;
    @include responsive(phone) {
      font-size: 48px;
    }
    span {
      color: #fbaa00;
    }
  }

  &-works {
    .desc {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #9e9e9e;
      max-width: 600px;
      padding-top: 32px;
    }

    &-carousel {
      padding: 56px 0 32px;
      &-card {
        width: 100%;
        img {
          width: 100%;
          height: 450px;
          border-radius: 16px;
          object-fit: cover;
        }
      }
    }

    .buttons-carousel {
      margin-bottom: 96px;
    }
  }

  &-works-speaker {
    .desc {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #9e9e9e;
      max-width: 600px;
      padding-top: 32px;
    }

    &-carousel {
      padding: 56px 0 32px;
      &-card {
        width: 100%;
        img {
          width: 100%;
          height: 450px;
          border-radius: 16px;
          object-fit: cover;
        }
      }
    }

    .buttons-carousel {
      margin-bottom: 96px;
    }
  }

  .course-learn {
    padding-bottom: 140px;
    .title-site {
      padding-bottom: 60px;
    }
    .item {
      &-icon {
        margin-bottom: 22px;
      }
      &-title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 0;
        /* Web sayt/white */

        color: #ffffff;
      }
      &-desc {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #6e6e6e;
        padding-top: 16px;
      }
    }
  }

  .course-speaker {
    margin-bottom: 100px;
    .title-site {
      margin-bottom: 50px;
    }
    &-item {
      img {
        width: 100%;
        border-radius: 12px;
      }

      &-title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */

        /* Web sayt/white */

        color: #ffffff;
        margin: 16px 0;
      }
      &-desc {
        margin: 0;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        /* or 138% */

        font-feature-settings: 'pnum' on, 'lnum' on;

        /* Web sayt/Black scheme/$-gray-200 */

        color: #9e9e9e;
      }
    }
  }

  .rewiev-carousel {
    margin-bottom: 0;
    .rewiev-card {
      margin: 12px;
    }
  }
  .rewiev {
    margin-bottom: 90px;
  }
  .otherinfos {
    margin-bottom: 90px;

    .info-item {
      .badge {
        display: inline-block;
        padding: 8px 37px;
        background: #289915;
        border-radius: 12px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: #ffffff;
      }
      p {
        width: 100%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #9e9e9e;
        margin-bottom: 0;
        margin-top: 16px;
      }

      .title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #ffffff;
        margin: 0;
      }
    }
  }

  .collapses {
    .accordion {
      --bs-accordion-color: var(--white);
      --bs-accordion-bg: transparent;
      --bs-accordion-border-color: #3d3d3d;

      .accordion-item .accordion-button {
        color: var(--orange);
        .module {
          background: #3d3d3d;
          border: 1px solid #3d3d3d;
        }
      }

      .module-title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        margin: 0;
        color: #cfcfcf;
        margin-bottom: 16px;
      }

      .module-list {
        color: #cfcfcf;
        padding-left: 16px;
        li {
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 32px;
          /* or 178% */

          font-feature-settings: 'pnum' on, 'lnum' on;

          /* Web sayt/Black scheme/$-gray-100 */

          color: #cfcfcf;
        }
      }
      .accordion-item .accordion-button.collapsed {
        color: #fff;
        .module {
          background: transparent;
          border: 1px solid #3d3d3d;
        }
      }
      .accordion-item .accordion-button {
        .module {
          margin-left: auto;
          display: inline-block;
          padding: 5px 18px 6px;
          border-radius: 50px;
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          /* identical to box height, or 125% */

          font-feature-settings: 'pnum' on, 'lnum' on;

          /* Web sayt/white */

          color: #ffffff;
          @include responsive(phone) {
            display: none;
          }
        }
      }

      .accordion-button::after {
        margin-left: 8px;
        content: '';
        @include responsive(phone) {
          margin-left: auto;
        }
      }
    }

    .accordion-flush .accordion-item:last-child {
      border-bottom: 1px solid #3d3d3d;
    }

    h3 {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
      /* identical to box height */

      font-feature-settings: 'pnum' on, 'lnum' on;

      /* Web sayt/white */

      color: #ffffff;
      margin-bottom: 0;
      border-bottom: 1px solid #3d3d3d;
      padding-bottom: 20px;
    }
  }

  .form-wrapper {
    padding: 56px 0;
    background: #1e1e1e;
    margin-bottom: 100px;
    .contact-form {
      margin: 0;
    }
    .telegram-link {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 12px 54px;
      gap: 16px;

      width: 512px;
      height: 48px;

      border: 1px solid #64b5ef;
      border-radius: 12px;
      color: #64b5ef;
      transition: all 0.3s ease;
      text-decoration: none;
      width: 100%;
      svg {
        margin-right: 16px;
        transition: all 0.3 ease;
      }
      path {
        transition: all 0.3 ease;
      }

      &:hover {
        background-color: #64b5ef;
        color: #fff;
        path {
          fill: #fff;
        }
      }

      @include responsive(phone) {
        padding: 12px;
      }
    }
    .form-title {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
      font-feature-settings: 'pnum' on, 'lnum' on;

      /* Web sayt/white */

      color: #ffffff;
      @include responsive(phone) {
        font-size: 24px;
      }
    }
    .lets-box {
      background-color: #121212;
    }

    .button-contact {
      border-radius: 12px;
    }
    .oferta {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      margin: 0;
      padding: 0;
      width: 100%;
      /* Web sayt/Black scheme/$-gray-200 */

      color: #9e9e9e;
      a {
        color: #9e9e9e;
      }
    }
  }

  .info-end-course {
    .border-content {
      background: #0d0d0d;
      margin: 56px 0 18px;
      &-top {
        border: 1px solid #3d3d3d;
        border-radius: 16px 16px 0px 0px;
        padding: 40px;

        .title {
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 38px;
          /* identical to box height */

          font-feature-settings: 'pnum' on, 'lnum' on;

          /* Web sayt/white */

          margin: 0;
          color: #ffffff;
        }
        .desc {
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 28px;
          text-align: right;
          font-feature-settings: 'pnum' on, 'lnum' on;
          color: #ffffff;
          margin: 0;
        }
        @include responsive(phone) {
          padding: 24px;
        }
      }
      &-bottom {
        padding: 40px;
        border: 1px solid #3d3d3d;
        border-radius: 0 0 16px 16px;

        p {
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
          line-height: 26px;
          /* identical to box height */

          font-feature-settings: 'pnum' on, 'lnum' on;

          /* Web sayt/white */

          color: #ffffff;

          margin: 0;
        }

        ul {
          padding-left: 16px;
          li {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            /* or 138% */

            letter-spacing: 0.02em;
            font-feature-settings: 'pnum' on, 'lnum' on;
            padding: 8px 0;
            color: #cfcfcf;
          }
        }
        @include responsive(phone) {
          padding: 24px;
        }
      }
    }
    .sertific {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .certificate {
      background: #1e1e1e;
      border-radius: 24px;
      background-image: url('../../assets//pages/home/3dbg.png');
      padding: 40px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-bottom: 124px;
      @include responsive(phone) {
        padding: 24px;
      }
      span {
        display: inline-block;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */

        text-align: center;
        text-decoration-line: underline;
        font-feature-settings: 'pnum' on, 'lnum' on;

        /* Web sayt/white */

        color: #ffffff;
        padding-top: 32px;
      }
      p {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;

        /* Web sayt/white */

        color: #ffffff;
        span {
          color: #fbaa00;
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
          text-decoration: none;
        }
      }
    }
  }

  .write-in-course {
    margin-bottom: 100px;
    .left-item {
      background-color: #1e1e1e;
      position: relative;
      overflow: hidden;
      &-title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
        /* identical to box height */

        font-feature-settings: 'pnum' on, 'lnum' on;

        /* Web sayt/white */

        color: #ffffff;
        margin: 0;
        margin-bottom: 32px;
      }
      ul {
        padding-left: 16px;
        margin: 0;
        padding-bottom: 16px;
        border-bottom: 1px solid #3d3d3d;
        li {
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          /* identical to box height, or 133% */

          font-feature-settings: 'pnum' on, 'lnum' on;

          /* Web sayt/Black scheme/$-gray-100 */
          margin-bottom: 20px;
          color: #cfcfcf;
        }
      }

      .button-wrapper {
        padding: 4px;
        border: 1px solid #3d3d3d;
        border-radius: 10px;
        margin: 36px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left-btn {
          border: none;
          outline: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 14px 21px;
          width: calc(50% - 2px);
          background: #222222;
          border-radius: 8px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: #ffffff;
          cursor: pointer;
          &.active {
            background: #289915;
          }
        }
      }

      .summa {
        p {
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 38px;
          /* identical to box height */
          margin-bottom: 120px;
          font-feature-settings: 'pnum' on, 'lnum' on;

          /* Web sayt/white */

          color: #ffffff;

          span {
            margin-left: 12px;
            display: inline-block;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 28px;
            text-decoration-line: line-through;
            font-feature-settings: 'pnum' on, 'lnum' on;

            /* Web sayt/Black scheme/$-gray-200 */

            color: #9e9e9e;
          }
        }
      }

      .myadver {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #7678ed;
        width: 100%;
        padding: 20px;
        p {
          margin-bottom: 0;

          font-family: 'Raleway';
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 26px;
          /* identical to box height, or 108% */

          font-feature-settings: 'pnum' on, 'lnum' on;

          /* Web sayt/white */

          color: #ffffff;
          svg {
            margin-right: 16px;
          }
        }
      }
    }

    .right-item {
      margin-bottom: 100px;
      .title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
        /* identical to box height */

        font-feature-settings: 'pnum' on, 'lnum' on;

        /* Web sayt/white */

        color: #ffffff;
        margin-bottom: 32px;
      }

      .desc {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        /* or 133% */
        margin-bottom: 32px;

        font-feature-settings: 'pnum' on, 'lnum' on;

        /* Web sayt/Black scheme/$-gray-100 */

        color: #cfcfcf;
      }
      .lets-button {
        border-radius: 12px;
      }
      .desc-other {
        margin-bottom: 0;
        width: 372px;
        height: 28px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        font-feature-settings: 'pnum' on, 'lnum' on;

        /* Web sayt/Black scheme/$-gray-200 */

        color: #9e9e9e;
      }
    }
  }

  .input {
    padding: 11px 16px;
    background-color: #fff;
    background: #141414;
    border-radius: 8px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 100%;
    color: #fff;
    outline: none;
    border: none;
    &::placeholder {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      /* identical to box height, or 162% */

      /* Web sayt/Black scheme/$-gray-400 */

      color: #3d3d3d;
    }

    border: 1px solid #3d3d3d;
  }
}
